/* Cabeçalho*/
.imagem-carrossel {
  object-fit: cover; /* Capa de Ajuste do Objeto 'img' em seu container sem achatar */
  object-position: 0 80%;/* Movimentar a 'img' do seu eixo X e Y */
  height: 400px;/*Altura*/
}

.fonte-titulo {
 	font-family: 'Pacifico', cursive;/*Fonte dos 2 Títulos do Carrosel*/
} 

#nav__contato { 
	color:darkred;
	transition: .1s;
}

#nav__contato:hover{
	text-decoration: underline; 
}

#cor__titulo__principal {
	color: darkred;
}

/* Cabeçalho*/



/* Card's*/
.card {
	max-width: 18rem;/* Máximo de Largura do Card sem esticar no Grid*/
}

.card__botao {
	background-color: darkred;
	color: white;
	transition: .2s;
}

.card__botao:hover {
	transform: scale(1.08);
	color: yellow;
}

.card__borda {
	border-color: darkred;
}

.card__posicao__imagem {
	 object-fit: cover;
	 height: 200px;
}


/* Card's*/



/*rodapé*/

.email__contato {
	color:darkred;
	transition: .1s;
}

.email__contato:hover {
	color:yellow;
	text-decoration: underline; 
}

/*rodapé*/



/* Formulário*/


.borda__formulario {
	border-radius: 10px; 
	border: 2px solid darkred;
}

/* Formulário*/